numpy~=1.26.0
scikit-learn~=1.3.0
timm~=0.9.12
einops~=0.7.0
transformers~=4.51.3
torchvision~=0.16.1
pillow~=10.3.0
datasets~=2.19.2
albumentations
torch 
pydicom
opencv-python
scikit-image
tqdm
timm